GUI/QT_ADC_1/boost/
GUI/build-QT_ADC_1-Desktop-Profile/ 
GUI/*.o
GUI/moc_*
GUI/python/.vscode/
lpc1768/MODDMA/
lpc1768/MODSERIAL/
lpc1768/mbed/
lpc1768/*.lib
lpc1768/*.h
lpc1768/*.html
lpc1768/*.bld
lpc1768/.*
misc/mcp41010_test/.*
/misc/mcp41010_test/*.html
/misc/mcp41010_test/*.bld
/misc/mcp41010_test/*.h
/misc/mcp41010_test/mbed/
